* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, black, crimson);
    height: 100vh;
    color: white;
    font-family: arial;
}

.calculadora {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    color: white;
    border: none;
    margin: 3px;
}

.up {
    background-color: rgb(165, 165, 165);
    color: rgb(51, 51, 51);
}

.right {
    background-color: rgb(255, 159, 10);
}